:root {
  --primary-background-color: #3b3b3b;
  --secondary-background-color: #9b9b9b;
  --card-background-color: #626262;
  --font-color: #ffffff;
  --wallet-color: #9dff5b;
  --wallet-balance-color: linear-gradient(90deg, #b5dc52 0%, #89e148 100%);
  --expense-amt-color: #f4bb4a;
  --secondary-btn-color: linear-gradient(
    90deg,
    #ff9595 0%,
    #ff4747 80%,
    #ff3838 100%
  );
  --border-radius: 10px;
  --modal-bg-color: #efefefd9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif !important;
}
html {
  max-width: 1920px;
  margin: auto;
}
.heading {
  color: var(--font-color);
}
.exp-form-heading,
add-bal-heading{
  color: #000;
}
.expense-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.price {
  color: var(--expense-amt-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.exp-details {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}
.app {
  background-color: var(--primary-background-color);
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background: white; */
  background-color: var(--secondary-background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 10px;
}
.card-section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.first-section,
.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.cards {
  border-radius: var(--border-radius);
  background-color: var(--card-background-color);
  padding: 1rem;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 20%;
}
.wallet-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.balance {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--font-color);
}
.card-heading {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 300;
}
.wallet-amt {
  color: var(--wallet-color);
  font-weight: bold;
}
.add-balance {
  color: var(--font-color);
  background: var(--secondary-btn-color);
  padding: 5px 45px;
  font-size: 18px;
  border-radius: var(--border-radius);
  border-color: transparent;
  cursor: pointer;
  font-weight: bold;
}
.expense-amt {
  color: var(--expense-amt-color);
  font-weight: bold;
}
.date {
  color: var(--secondary-background-color);
}
.add-expense {
  color: var(--font-color);
  background-color: var(--wallet-color);
  font-weight: bold;
  padding: 5px 45px;
  font-size: 18px;
  border-radius: var(--border-radius);
  border-color: transparent;
  cursor: pointer;
}
.expense-list {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  > *:not(:last-child) {
    border-bottom: 1px solid var(--secondary-background-color);
  }
}

.expense-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.expense-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--modal-bg-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.form-group input,
.form-group select {
  padding: 8px;
  border-radius: 10px;
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

.form-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

/* button {
  background: var(--expense-amt-color);
  color: var(--font-color);
  padding: 5px 45px;
  font-size: 18px;
  border-radius: var(--border-radius);
  border-color: transparent;
  cursor: pointer;
} */
.primary {
  width: 100%;
  background: var(--expense-amt-color);
  color: var(--font-color);
  padding: 5px 20px;
  font-size: 18px;
  border-radius: var(--border-radius);
  border-color: transparent;
  cursor: pointer;
}
.chart-section {
  height: 350px;
  background-color: #ffff;
  border-radius: var(--border-radius);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 1rem;
}

.secondary {
  width: 100%;
  background: var(--secondary-background-color);
  color: var(--font-color);
  padding: 5px 20px;
  font-size: 18px;
  border-radius: var(--border-radius);
  border-color: transparent;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 20px;
  }
  .first-section,
  .second-section {
    flex-direction: row;
  }
  .form-group input,
  .form-group select {
    width: 14rem;
  }
  .expense-item {
    flex-direction: row;
  }
  .add-balance-modal-wrapper {
    flex-direction: row;
  }
  .modal-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-section {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .cards {
    max-width: 25rem;
    height: 11rem;
  }
  .wrapper {
    justify-content: flex-start;
  }
  .section {
    width: 96.6vw;
  }
}
@media only screen and (min-width: 992px) {
  .section {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .wrapper {
    flex-direction: row;
  }
  .left-section {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .first-section,
  .second-section {
    display: flex;
  }
  .details-wrapper {
    flex-direction: row;
  }
  .right-section {
    width: 40%;
  }
  .form-group{
    flex-direction: row;
  }
}
